.dog-picture {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    padding: 5%;
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 15%;
}

.dog-image {
    height: 300px;
    width: 350px;
    border-radius: 3%;
}

.new-dog-button {
    width: 100px;
    height: 50px;
    margin: 10%;
    background-color: red;
    border: 1px solid black;
    border-radius: 45%;
    font-size: 20px;
} 